<div class="lp-icon-cards lp-icon-cards--align-{{ module.alignment }}">
  <div class="container">

    {% if module.section_title or module.section_intro %}
    <div class="row justify-content-center mb-5">
      <div class="col-12 col-lg-8 {% if module.alignment == 'center' %}text-center{% endif %}">
        {% if module.section_title %}
        <h2 class="lp-icon-cards__title">{{ module.section_title }}</h2>
        {% endif %}
        {% if module.section_intro %}
        <div class="lp-icon-cards__intro">{{ module.section_intro }}</div>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-{{ module.columns }} g-4">
      {% for card in module.cards %}
      <div class="col">
        <div class="lp-icon-card lp-icon-card--{{ module.card_style }} h-100">

          <!-- Icon -->
          <div class="lp-icon-card__icon-wrap lp-icon-card__icon-wrap--{{ module.icon_style }}">
            <i class="bi {{ card.icon_class }}" {% if card.icon_colour %}style="color: {{ card.icon_colour }}"{% endif %}></i>
          </div>

          <!-- Content -->
          {% if card.card_title %}
          <h3 class="lp-icon-card__title">{{ card.card_title }}</h3>
          {% endif %}

          {% if card.card_text %}
          <div class="lp-icon-card__body">{{ card.card_text }}</div>
          {% endif %}

          {% if card.link_label and card.link_url %}
          <a href="{{ card.link_url|escape_attr }}" class="lp-icon-card__link">
            {{ card.link_label }}
            <i class="bi bi-arrow-right"></i>
          </a>
          {% endif %}

        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
