<div class="lp-faculty">
  <div class="container">

    {% if module.section_title or module.section_intro %}
    <div class="row mb-5">
      <div class="col-12">
        {% if module.section_title %}
        <h2 class="lp-faculty__title">{{ module.section_title }}</h2>
        {% endif %}
        {% if module.section_intro %}
        <p class="lp-faculty__intro">{{ module.section_intro }}</p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4">
      {% for member in module.members %}
      <div class="col">
        <div class="lp-faculty__card">

          <!-- Image block -->
          <div class="lp-faculty__image">
            {% if member.photo.src %}
            <img
              src="{{ member.photo.src|escape_url }}"
              alt="{{ member.member_name|escape_attr }}"
              loading="lazy">
            {% endif %}
          </div>

          <!-- Info block -->
          <div class="lp-faculty__info">
            {% if member.member_name %}
            <p class="lp-faculty__name">{{ member.member_name }}</p>
            {% endif %}
            {% if member.member_title %}
            <p class="lp-faculty__role">{{ member.member_title }}</p>
            {% endif %}
            {% if member.tags %}
            <div class="lp-faculty__tags">
              {% set tags = member.tags.split(",") %}
              {% for tag in tags %}
              <span class="lp-faculty__tag">{{ tag|trim }}</span>
              {% endfor %}
            </div>
            {% endif %}
          </div>

        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
