<div class="container-fluid lp-testimonials">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h2>{{ module.module_title }}</h2>
      </div>
    </div>
    <div class="row d-flex align-items-stretch justify-content-center">
      {% for item in module.testimonial %}
      <div class="col-md-4 col-sm-12 my-3">
        <div class="card h-100 p-4">
          {% if item.testimonial_logo.src %}
            <img
              src="{{ item.testimonial_logo.src|escape_url }}"
              alt="{{ item.testimonial_logo.alt|escape_attr }}"
              class="img-fluid mb-3"
              style="max-height:50px;width:auto;">
          {% endif %}
          <p>{{ item.testimonial_text }}</p>
          <h4>{{ item.author }}</h4>
          <h6>{{ item.company }}</h6>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
