<div class="container-fluid lp-logo-carousel">
  <div class="container">
    {% if module.section_title %}
    <div class="row mb-4">
      <div class="col-12 text-center">
        <p class="lp-logo-carousel__title">{{ module.section_title }}</p>
      </div>
    </div>
    {% endif %}
    <div class="lp-logo-carousel__track">
      <div class="lp-logo-carousel__inner">
        {% for logo in module.logos %}
        <div class="lp-logo-carousel__item">
          {% if logo.image.src %}
          <img
            src="{{ logo.image.src|escape_url }}"
            alt="{{ logo.company_name|default(logo.image.alt, true)|escape_attr }}"
            loading="lazy">
          {% endif %}
        </div>
        {% endfor %}
        {% for logo in module.logos %}
        <div class="lp-logo-carousel__item" aria-hidden="true">
          {% if logo.image.src %}
          <img
            src="{{ logo.image.src|escape_url }}"
            alt=""
            loading="lazy">
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
