<div class="container-fluid lp-feature-grid">
  <div class="container">
    {% if module.section_title %}
    <div class="row">
      <div class="col-12 text-center">
        <h2>{{ module.section_title }}</h2>
      </div>
    </div>
    {% endif %}
    {% if module.section_intro %}
    <div class="row mt-3 mb-5">
      <div class="col-md-10 offset-md-1 col-12">
        {{ module.section_intro }}
      </div>
    </div>
    {% endif %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-{{ module.columns }} g-4 mt-2 text-center">
      {% for item in module.items %}
      <div class="col">
        <div class="lp-feature">
          {% if item.icon.src %}
          <div class="lp-feature__icon lp-feature__icon--{{ module.icon_style }}">
            <img
              src="{{ item.icon.src|escape_url }}"
              alt="{{ item.icon.alt|escape_attr }}"
              loading="lazy">
          </div>
          {% endif %}
          {% if item.title %}
          <h4 class="lp-feature__title">{{ item.title }}</h4>
          {% endif %}
          {% if item.body %}
          <div class="lp-feature__body">{{ item.body }}</div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
