<div class="container lp-faq">
  {% if module.section_title %}
  <div class="row mb-5">
    <div class="col-12 text-center">
      <h2>{{ module.section_title }}</h2>
    </div>
  </div>
  {% endif %}
  <div class="row justify-content-center">
    <div class="col-md-8 col-12">
      <div class="accordion lp-faq__accordion" id="faq-{{ module.instance_id }}">
        {% for item in module.items %}
        <div class="accordion-item lp-faq__item">
          <h3 class="accordion-header">
            <button
              class="accordion-button lp-faq__question {% if not loop.first %}collapsed{% endif %}"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#faq-{{ module.instance_id }}-{{ loop.index }}"
              aria-expanded="{% if loop.first %}true{% else %}false{% endif %}">
              {{ item.question }}
            </button>
          </h3>
          <div
            id="faq-{{ module.instance_id }}-{{ loop.index }}"
            class="accordion-collapse collapse {% if loop.first %}show{% endif %}"
            data-bs-parent="#faq-{{ module.instance_id }}">
            <div class="accordion-body lp-faq__answer">
              {{ item.answer }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
