<div class="container lp-about">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-6 col-sm-12 d-flex justify-content-center flex-column">
      <h2>{{ module.module_title }}</h2>
      {% inline_rich_text field="module_text" value="{{ module.module_text }}" %}
    </div>
    <div class="col-md-5 offset-md-1 col-sm-12">
      {% if module.module_image.src %}
        <img
          src="{{ module.module_image.src|escape_url }}"
          alt="{{ module.module_image.alt|escape_attr }}"
          class="img-fluid"
          style="max-width:100%;height:auto;"
          loading="lazy">
      {% endif %}
    </div>
  </div>
  {% set items = module.cards if module.cards is sequence else [] %}
  {% if items %}
  <div class="key-values row justify-content-center mt-5">
    {% for card in items %}
    <div class="col-sm-12 col-md-3 mt-4">
      <div class="card h-100 shadow-sm rounded-4 p-4">
        <h3 class="mb-3">{{ card.card_title }}</h3>
        <span class="mb-0">{{ card.card_text }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
