<div class="container-fluid lp-stats lp-stats--bg-{{ module.background }}">
  <div class="container">
    {% if module.section_title %}
    <div class="row mb-4">
      <div class="col-12 text-center">
        <h2 class="lp-stats__title">{{ module.section_title }}</h2>
      </div>
    </div>
    {% endif %}
    <div class="row justify-content-center text-center">
      {% for stat in module.stats %}
      <div class="col-6 col-md">
        <div class="lp-stat">
          <div class="lp-stat__number">{{ stat.number }}{% if stat.suffix %}<span class="lp-stat__suffix">{{ stat.suffix }}</span>{% endif %}</div>
          <div class="lp-stat__label">{{ stat.label }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
